{% extends 'template.html' %}

{%block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">
                      <a role="button" class="btn btn-sm btn-primary" href='{{ url_for("admin.novo_artigo") }}'>Novo Artigo</a>
                    </h4>
                    <!-- <p class="category"></p> -->
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-hover table-striped">
                        <thead>
                            <th>ID</th>
                          <th>Título</th>
                          <th>Publicado</th>
                          <th>Data Publicação</th>
                          <th>Ações</th>
                        </thead>
                        <tbody>
                          {% for artigo in artigos %}
                            <tr>
                              <td>{{ artigo.id }}</td>
                              <td>{{ artigo.titulo|e }}</td>
                              <td>{{ artigo.publicado }}</td>
                              <td>{{ artigo.data_publicacao.strftime("%d/%m/%Y %H:%M") }}</td>
                              <td>
                                <!-- <div class="btn-group"> -->
                                  <button type="button" class="btn btn-sm btn-primary">
                                    <a href='{{ url_for("admin.edit_artigo", id=artigo.id) }}'>Editar</a>
                                  </button>
                                  <button type="button" class="btn btn-sm btn-primary">
                                    <a href='{{ url_for("admin.delete_artigo", id=artigo.id) }}'>Excluir</a>
                                  </button>
                              </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
